body {
    margin: 0px;
    padding: 0px;
    background-color:  #CCCCCC;
}

section {
    margin-left: 20px;
}

header h1 {
    font-size: 28px;
    margin-top: 40px;
}

p {
    font-size: 24px;
}

.firstP {
    font-style: italic;
    font-size: 18px;
}