*, button, label, input {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish';
    position: relative;
}

body .bcg-img {
    width: 100%;
    height: 100%;
}

.register-container {
    width: 57em;
    height: 38em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.register-container img {
    width: 108%;
    height: 100%;
}

.register-container form {
    position: absolute;
    height: 23em;
    width: 28em;
    top: 49%;
    left: 23%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'firstName lastName'
        'email email'
        'password password'
        'confirm-password confirm-password';
    gap: 1em;
    padding-left: 4em;
}

.register-container .title {
    position: absolute;
    top: 10.5%;
    left: 26.2%;
    font-weight: 500;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.register-container input {
    display: block;
    width: 100%;
    height: 2.7em;
    border-radius: 20px;
    border: 1px solid #CCCCCC;
    margin-top: 0.4em;
}

.firstName-container { grid-area: firstName; }
.lastName-container { grid-area: lastName; }
.email-container { grid-area: email; }
.password-container { grid-area: password; }
.confirm-password-container { grid-area: confirm-password; }

.register-container .check-input {
    display: inline-block;
    width: 1.1em;
    position: absolute;
    bottom: 16%;
    left: 5.5%;
}

.register-container p {
   display: inline-block;
   position: absolute;
   bottom: 17.5%;
   left: 8%;
   font-weight: 400;
   font-size: 0.9em;
}

.register-button {
    position: absolute;
    bottom: 6%;
    left: 15%;
    color: #fff;
    padding: 0.9em 1.7em;
    background-color: #AE3C33;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
