section {
    border: 8px solid #e6e6e6;
    padding: 16px;
    width: 451px;
    height: 540px;
}

h2 {
    font-family: Merriweather, sans-serif;
    font-weight: 700;
    margin: 1.2rem 0;
    color: rgb(51, 51, 51);
}

div {
    font-weight: 600;
    font-size: 20px;
}

button {
    width: 250px;
    font-family: Work Sans, sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    background-color: #d5384d;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    padding: 8px 16px;
    margin-block: 20px;
}

p {
    font-family: Georgia, Cambria, Times New Roman, Times, serif;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
}

/* <section>: 
Solid border with size 8px and color #e6e6e6 
Paddings: 16px 
Width: 451px 
Height: 540px 

<h2>: 
Font: Merriweather 
Generic Font: serif 
Font weight 700 
Top & bottom margin 1.2rem 
Left & right margin 0 
Color: rgb(51, 51, 51) 

<div>: 
Font weight 600 
Font size: 20px 

<button>: 
Width: 250px  */
/* Font : Work Sans 
Generic Font: sans-serif 
Font weight 600 
Font size: 18px 
Border radius: 4px 
Background color: #d5384d 
Text color: #fff 
Letter spacing: 1px 
Align the text to the center 
Top & bottom padding 8px 
Left & right padding 16px 
Top margin: 20px 
Bottom margin: 20px  */

/* <p>: 
Fonts: Georgia, Cambria, Times New Roman, Times 
Generic Font: serif 
Font size: 18px 
Height of the line: 30px 
Top margin: 0  */