* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courgette';
    text-align: center;
    padding-top: 2em;
    background-color: #F5F5F5;
}

.site-header h1 {
    font-size: 3em;
    font-weight: 500;
}

.site-header h3 {
    margin: 0.2em 0em 1em 7em;
    font-size: 1.7em;
    color: #CB2028;
}

/* CARD */

.card-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card {
    max-width: 25em;
    background-color: #FFFFFF;
    border-radius: 12px;
    max-width: 370px;
    height: 460px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%;
    max-height: 230px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-inline: 1em;
}

.card-content h2 {
    margin-top: 0.5em;
    font-size: 1.6em;
    padding-bottom: 0.7em;
    border-bottom: 2px solid #CB2028;
}

.card-content p {
    font-size: 1.1em;
    margin-bottom: 2.3em;
}

.card-content a {
    font-size: 1.14em;
    text-decoration: none;
    color: #000;
}

.card-content a i {
    display: inline-block;
    background-color: #CB2028;
    border-radius: 50%;
    font-size: 0.9em;
    padding: 2px;
    margin-left: 0.4em;
}

.card-content .dif-p  {
    margin-bottom: 1em;
}
