*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    font-family: 'Inter';
    width: 100vw;
    height: 100vh;
    background-color: #85DCFF;
    display: flex;
    padding-inline: 18px;
    gap: 186px;
    align-items: center;
}

.content-container {
    padding: 22px;
    max-width: 910px;
}

.title {
    padding-bottom: 30px;
    font-size: 58px;
    max-width: 638px;
}

.content-container__first-section {
    font-size: 22px;
}

.content-container__first-section__first-p {
    margin-top: 16px;
}

.content-container__first-section__second-p {
    margin-bottom: 40px;
}

.black-button {
    font-family: 'Inter';
    padding: 14px 60px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #42AA59;
    color: #000000;
    margin-right: 8px;
}

.black-button:hover {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.white-button {
    font-family: 'Inter';
    padding: 14px 60px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #fff;
    color: #000000;
    border: 1px solid #fff;
}

.image-onRight {
    max-width: 417px;
    max-height: 556px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}
