* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { font-family: 'Inter'; }

/* SITE-HEADER */

.site-header {
    height: 5em;
    display: flex;
    justify-content: space-between;
}

.site-header .header-nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 25em;
    margin: 1.3em 0em 0em 3em;
    font-size: 1em;
}

.site-header .header-form { margin: 1.3em 2em 0em 0em; } 

.site-header .header-form input {
    padding: 0.7em 1.1em;
    background-color: #FFFFFF;
    border: none;
    margin-right: 1em;
    border-radius: 6px;
}

.site-header .header-form input:hover {
    cursor: pointer;
    background-color: #B2EAE5;
}

a {
    text-decoration: none;
    color: #000;
}

.section.first {
    position: relative;
    height: 19em;
    background-color: #ADE2DF;
}

.section.first .content-container {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section.first .big-p {
    font-size: 3em;
    font-weight: bold;
}

.section.first .small-p { margin-block: 1.6em; }

.section.first .content-container button {
    padding: 1em 1.8em;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.5em;
}

/* SECOND-SECTION */

.section.second {
    position: relative;
    height: 18em;
}

.section.second .box-container {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 60em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box.first { border-inline: 1px solid gray; }

.section.second .box-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    padding-inline: 0.3em;
}

.section.second .box-container h3 {
    margin-bottom: 0.6em;
    font-size: 1.8em;
}

/* THIRD-SECTION */

.section.third {
    height: 31em;
    background-color: #ACE0DD;
}

.section.third .content-container {
    display: flex;
    justify-content: center;
    gap: 4.5em;
    height: 100%;
}

.section.third .content-container .img-container {
    height: 100%;
    padding: 1.2em 2em;
    border: 1.4px dashed gray;
}

.section.third .content-container .iphone-img {
    display: block;
    height: 30em;
}

.section.third .content-container .content {
    display: flex;
    flex-direction: column;
    height: 20em;
    width: 35em;
    gap: 1em;
    align-self: center;
    margin-top: -1.7em;
}

.section.third .content-container .content h2 {
    font-size: 2.5em;
    line-height: 1.4;
}

.section.third .content-container .content .bold-p {
    font-weight: bold;
    margin-bottom: -0.3em;
}

.section.third .content-container .content .border-p {
    border-bottom: 1px solid #000;
    padding-bottom: 0.4em;
    width: 11em;
}

/* SECTION-FOURTH */

.section.fourth {
    height: 10em;
    background-color: #F3F5FA;
}

.section.fourth .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1em;
}

.section.fourth .content button {
    padding: 0.6em 1.2em;
    background-color: #ADE2DF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section.fourth .content p {
    font-size: 1.7em;
    font-weight: bold;
}

/* SECTION-FIFTH */

.section.fifth {
    height: 33em;
    background-color: #FFFFFF;
    padding-top: 0.2em;
    border: 0.3px solid #DBDBDB;
}

.section.fifth .card-container {
    height: 100%;
    display: flex;
    padding-block: 1em;
}

.section.fifth .card-container .card {
    width: 20em;
    padding: 1em 1.9em;
    background-color: #FFFFFF;
    height: 29em;
}

.section.fifth .card-container .card:not(.not) { border-right: 1px solid gray; }

.section.fifth .card-container .card .card-header {
    border-bottom: 1px solid gray;
    margin-bottom: 1.8em;
}

.section.fifth .card-container .card .card-header h3 {
    text-align: center;
    margin-bottom: 0.2em;
}

.section.fifth .card-container .card .card-header h2 {
    font-size: 2em;
    margin-block: 0.6em;
}

.section.fifth .card-container .card .card-header p { line-height: 1.3; }

.section.fifth .card-container .card .card-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.small-span {
    font-size: 0.5em;
    font-weight: normal;
}

.section.fifth .card-container .card button {
    padding: 1.3em 3em;
    width: 16.4em;
    font-size: 1em;
    margin: 3.7em auto 0em auto;
    font-weight: bold;
    background-color: #ADE2DF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 0.5em;
}

.section.fifth .card-container .card.bigger {
    min-width: 35em;
    height: 33em;
    margin-top: -1.2em;
    background-color: #ADE2DF;
}

.section.fifth .card-container .card.bigger header {
    padding-top: 1.4em;
    margin-right: -1em;
    border: none;
}

.section.fifth .card-container .card.bigger header p {
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.4;
}

.section.fifth .card-container .card.bigger .bigger-card__button {
    background-color: #000;
    margin-top: 11.8em;
    width: 100%;
    color: #fff;
}

/* SECTION-SIXTH */

.section.sixth {
    background-color: #F3F5FA;
    height: 3em;
}

/* SECTION-SEVENTH */

.section.seventh {
    height: 25em;
    background-color: #ADE2DF;
    position: relative;
}

.section.seventh .content-container {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36em;
    text-align: center;
}

.section.seventh .content-container .big-p {
    width: 10em;
    font-size: 3em;
    font-weight: bold;
    margin: 0em auto 0.2em auto;
}

.section.seventh .content-container .small-p {
    font-size: 1.2em;
    margin-bottom: 2.3em;
}

.section.seventh .content-container button {
    padding: 1em 1.8em;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.5em;
}

/* SITE-FOOTER */

.site-footer {
    height: 4em;
    display: flex;
    justify-content: space-between;
}

.site-footer p {
    margin-left: 2em;
    align-self: center;
    font-size: 0.9em;
}

.site-footer i { cursor: pointer; }

.site-footer div {
    display: flex;
    gap: 1em;
    margin-right: 2em;
    padding: 1em;
    align-self: center;
}
