*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.menu-container {
    position: relative;
    background-color: silver;
    border-radius: 6px;
    width: 450px;
    margin: 0 auto;
    padding: 40px 18px 26px 22px;
}

.content {
    width: 100%;
    margin-bottom: 20px;
}

.content label {
    padding: 4px 3px;
    font-weight: 600;
}

input {
    font-size: 21px;
    border-radius: 4px;
}

section:nth-of-type(2) input {
    margin-left: 2.5px;
}

button {
    font-size: 20px;
    padding: 7px 18px;
    margin: 10px 0px 0px 8px;
    background: chocolate;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 1px;
}

button:hover {
    background-color: chocolate;
    opacity: 0.7;
    cursor: pointer;
}

p {
    position: absolute;
    top: -24px;
    left: 0;
    border-radius: 3px;
    background-color: aqua;
    letter-spacing: 1px;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 18px;
    width: 200px;
}

p:hover {
    cursor: pointer;
    opacity: 0.8;
    color: dimgray;
}

.content:nth-of-type(1) i {
    position: absolute;
    left: 146px;
    top: 47px;
    font-size: 15px;
}

.content:nth-of-type(2) i {
    position: absolute;
    left: 146px;
    top: 95px;
    font-size: 15px;
}


/* FOR PHONES AND TABLETS */

@media all and (max-width: 700px) {
    .menu-container {
        width: 300px;
    }

    .content label {
        display: inline-block;
    }

    .content:nth-of-type(1) i {
        left: 30px;
        top: 81px;
    }

    .content:nth-of-type(2) i {
        position: absolute;
        left: 30px;
        top: 163px;
    }
}